databases/hash_tables/

simulations/sim_data/

cfspi/config/.*
cfspi/.snakemake/*

mapAspergillus/resources/EPRSc2_Aspergillus*

figures/.ipynb_checkpoints/
figures/ipynb_to_R.ipynb
figures/Suppl_Figures/.ipynb_checkpoints*
figures/Suppl_Figures/*.ipynb
figures/Figures/.ipynb_checkpoints*
figures/Figures/*.ipynb

output/
